#github "robb/Cartography"
#github "JensRavens/Interstellar" "feature/v2"
#github "duemunk/Interstellar" "feature/v2"
github "duemunk/Interstellar" "e45e3dd1960a7a292be79ef13618640b2cef0484"
#git "file:///Gits/Interstellar" "2e793d3c0e0d4900bb11439854f3a813ee419bed"
