#github "robb/Cartography"
#github "JensRavens/Interstellar" "feature/v2"
#github "duemunk/Interstellar" "feature/v2"
github "duemunk/Interstellar" "faf3a9e817b982b764359fab5766e02f481ecec5"
#git "file:///Gits/Interstellar" "2e793d3c0e0d4900bb11439854f3a813ee419bed"
